// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
    width: 500px;
    background: white;
    margin: auto;
    border: solid #00acee;
    font-style: sans-serif;
    min-height: 500px;
    
}
#header{
    background-color:#00acee;
    color:  white ;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;

}

#top_page{
    margin: 10px;
    
}
#posts{
    margin: 10px;
    justify-content: left;
    border-bottom: #00acee;
    padding: 10px;
}

#footer{
    background-color: #00acee;
    width: 100%;
    height: 50px;
    text-align: center;
    pad: 10px;
    color: white;
    font-weight: bold;
    
}